#buttons {
    background-color: #eeeeee;
   
}


#gifs {
    background-color: palegreen;
    width: 66%;
    float: left;
}

#search {
    background: palegoldenrod;
    width: 33%;
    float: left;
}

